* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.image-gallery-container h1 {
  /* margin-top: 5rem; */
  padding-top: 5rem;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
}

.card-list {
  width: 100%;
  background-color: #fff;
  columns: 4;
  column-gap: 15px;
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  .card-list {
    columns: 4;
  }
}

@media screen and (max-width: 992px) {
  .card-list {
    columns: 3;
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    columns: 2;
  }
  .image-gallery-container h1 {
    /* margin-top: 5rem; */
    padding-top: 5rem;
  font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .card-list {
    columns: 1;
  }
}

@media screen and (max-width: 425px) {
  .image-gallery-container h1 {
    padding-top: 4rem;
  font-size: 2rem;
  }
}

.image-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  break-inside: avoid-column;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px #9a9494bb;
}

.image {
  width: 100%;
  height: auto;
  flex-grow: 1;
}
