.colors {
  position: relative;
}
.colors .circle {
    height: 25rem;
    width: 25rem;
    background-color: #e5d4ff;
    z-index: -1;
    position: absolute;
    top: 10%;
    left: -15%;
    border-radius: 50%;
    filter: blur(200px);
  }
  .colors .circle:before {
    content: "";
    height: 25rem;
    width: 25rem;
    background-color: #f6f7c4;
    position: absolute;
    top: 20rem;
    left: 104vw;
    border-radius: 50%;
    filter: blur(200px);
  }
  .colors .random {
    height: 25rem;
    width: 25rem;
    background-color: #fff2d1;
    z-index: -1;
    position: absolute;
    bottom: 10vh;
    left: -15%;
    border-radius: 50%;
    filter: blur(200px);
  }
  
  .developer-info {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding-top: 14vh;
    font-family: Roboto-web;
    font-weight: 900;
    /* position: absolute; */
  }
  
  .developer-info h1 {
    margin-top: 1vh;
    font-size: 4vw;
    font-family: "Poppins", sans-serif;
  }
  .developer-detail-cards {
    margin-top: 1rem;
    width: 75%;
    height: 150%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .developer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32vw;
    width: 22.5vw;
    border-radius: 2%;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    background: #ecf0f3;
  }
  .img-container {
    width: 80%;
    height: 65%;
    margin-top: 0.6rem;
    margin-bottom: -2.3rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  }
  .skewed {
    width: 100%;
    height: 120%;
    border-radius: 30px;
  }
  
  #img-div {
    width: 80%;
    height: 100%;
    position: relative;
    left: 10%;
  }
  
  #img-div img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    transition: all 0.3s ease;
  }
  
  #img-div:hover img {
    transform: translate(-50%, -50%) scale(1.05);
  }
  
  .developers_content {
    width: 90%;
    height: 11vw;
    padding: 2rem 0 0.5rem;
    border-radius: 1vw;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 48px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.4vw;
  }
  
  .developers_content h2 {
    font-size: 2.1vw;
    color: #31344b;
  }
  
  .developers_content p {
    font-size: 1.1vw;
    margin-top: 0.1em;
    font-weight: 300;
    color: #44476a;
  }
  
  .developers_content .links {
    width: 70%;
    margin-top: 0.7rem;
    display: flex;
    padding: 0 1.4vw;
    gap: 1rem;
    justify-content: space-evenly;
    font-size: 1.9vw;
  }
  .icon_link {
    aspect-ratio: 1/1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: -5px -5px 10px #c4c5c7, 5px 5px 10px #ffffff;
  }
  .icon_link > .icons {
    display: block;
    padding: .5rem;
  }
  .insta {
    color: #e1306c;
  }
  .linked {
    color: #0077b5;
  }
  .github {
    color: #333;
  }
  .footer-div {
    width: 85%;
  }
  
  .legal-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 0;
  }
  
  .legal-links > h2 {
    font-weight: 500;
    font-size: 1.4vw;
  }
  
  .legal-links ul {
    display: flex;
    gap: 3vh;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.2vw;
  }
  
  hr {
    height: 1px;
    background-color: #000;
    width: 100%;
  }
  
  @media screen and (max-width: 1024px) {
    .developer-detail-cards {
      justify-content: space-evenly;
      padding: 1vh 3vw;
      width: 100%;
    }
    .developer-info h1 {
      font-size: 3.2rem;
    }
    .colors {
      display: block;
    }
    .developer-card {
      width: 20rem;
      height: 28rem;
    }
    .developers_content {
      height: 10rem;
      margin: 0.5rem;
      width: 86%;
    }
    .developers_content h2 {
      font-size: 1.8rem;
      margin-top: -0.4vh;
    }
    .developers_content p {
      font-size: 1rem;
    }
    .developers_content .links {
      padding: 0 2vw;
      font-size: 1.6rem;
    }
    .footer-div {
      width: 80%;
      height: fit-content;
      margin-bottom: 10px;
    }
  
    .legal-links {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
    }
  
    .legal-links > h2 {
      font-size: 1.1rem;
    }
  
    .legal-links ul {
      gap: 2vh;
      justify-content: space-around;
      padding: 0 3rem;
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .developer-info {
      height: fit-content;
      width: 100%;
    }
    .developer-info h1 {
      font-size: 8vw;
    }
    .developer-detail-cards {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .developer-card {
      width: 22rem;
      height: 30rem;
    }
    .developer-card:nth-child(3) {
      order: 1;
    }
    .developer-card:nth-child(1) {
      order: 2;
    }
    .developer-card:nth-child(2) {
      order: 3;
    }
    .developer-card:nth-child(4) {
      order: 4;
    }
    .developer-card:nth-child(5) {
      order: 5;
    }
    .developer-card:nth-child(6) {
      order: 6;
    }
    .developers_content {
      margin-top: 1.8vh;
      height: 10rem;
    }
    .developers_content h2 {
      font-size: 2rem;
      margin-top: -1vh;
    }
    .developers_content p {
      font-size: 1.2rem;
      line-height: 0.9;
    }
    .developers_content .links {
      font-size: 1.9rem;
      padding: 0 1.3rem;
      margin-top: 0.4vh;
    }
    .icon_link {
      margin-top: 0.5vh;
    }
    .legal-links > h2 {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 480px) {

    .footer-div {
      width: 100%;
      height: fit-content;
      margin-bottom: 10px;
    }
    .legal-links {
      flex-direction: column;
    }
    .legal-links ul {
      justify-content: center;
    }
  }
  @media only screen and (max-width: 320px) {
    .developer-card {
      height: 26rem;
    }
    .developers_content {
      border-radius: 2vh;
      height: 9rem;
      margin-top: 2.6vh;
    }
    .developers_content h2 {
      font-size: 1.5rem;
      margin-top: -0.9vh;
    }
    .developers_content p {
      font-size: 1rem;
      line-height: 0.9;
    }
    .developers_content .links {
      font-size: 1.5rem;
      margin-top: 1vh;
      width: 80%;
    }
  }
  