.address-map {
    padding: 2rem 0;
    display: flex;
    width: 80%;
    margin: auto;
    gap:2rem
}

.map-container {
    width: 60%;
    height: 18rem;
}

.map-container iframe    {
    width: 100%;
    height: 100%;
}

.map-address {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 width: 40%;
}

.map-address h3 {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width:1024px){
    .map-container {
        width: 100%;
        height: 16rem;
    }
    .map-address {
        width: 100%;
    }
    .map-address h3 {
        font-size: 1.4rem;
    }
    .map-address p {
        font-size: .9rem;
    }
}

@media screen and (max-width:425px){
    .map-container {
        height: 10rem;
    }
    .address-map {
        flex-direction: column;
    }
}

@media screen and (max-width:375px){
    .map-container {
        height: 8rem;
    }
}