.magazine-container {
    padding: 1.5rem 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem
}

.magazine-container h2 {
    font-size: 4rem;
    font-family: Roboto, sans-serif;
}

.magazine-page-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.magazine-image {
    width: 30%;
    box-shadow: 2px 2px 20px #00000077;
    transition: 500ms ease-in;
    cursor: pointer;
}

.magazine-image img {
    width: 100%;
    display: block;
}

.magazine-image.blacked {
    filter: brightness(.5);
}

.magazine-image.hover {
    scale: 1.1;
}
@media screen and (max-width: 768px) {
    .magazine-container h2 {
        font-size: 3rem;
    }
    .magazine-container p {
        text-align: center;
    }

}
@media screen and (max-width: 525px) {
    .magazine-page-container {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }
    .magazine-image {
        width: 65%;
    }
    .magazine-container {
        gap: 1rem;
    }
    .magazine-container > p {
        font-size: .9rem;
    }
    .magazine-container > h2 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 324px) {
    .magazine-container > h2 {
        font-size: 2rem;
    }
    .magazine-container > p {
        font-size: .8rem;
    }
}