.significanceContainer {
    padding: 1.5rem 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem
  }
  
  .aboutLogoContainer {
    width: 45%;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .cls-1 {
    fill: #de2028;
  }
  
  .cls-2 {
    fill-rule: evenodd;
  }
  
  .cls-2,
  .cls-3 {
    fill: #fff;
  }
  
  .cls-4 {
    fill: #322864;
  }
  
  .cls-5 {
    fill: #fdfdfd;
  }
  
  .cls-3 {
    stroke: #000;
    stroke-miterlimit: 10;
  }
  
  .aboutLogoTextContainer {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
  }
  
  .aboutLogoTextContainer h1 {
    font-family: sans-serif;
    font-size: 4rem;
  }
  
  .aboutLogoTextContainer p {
    font-size: .9rem;
    display: inline;
    /* line-height: 1.6rem; */
    overflow: hidden;
    transition: 500ms;
  }
  
  .aboutLogoTextContainer p:has(.highlight-blue),
  .aboutLogoTextContainer p:has(.highlight-red),
  .aboutLogoTextContainer p:has(.highlight-white) {
    color: rgba(72, 71, 71, 0.37)
  }
  
  .highlight-blue {
    --_background: rgba(135, 189, 236, 0.842);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    /* border: 3px dashed #322864; */
    display: inline;
    margin: 0 2px;
    padding: 0 .5rem;
    box-shadow: 2px 2px 10px #32323245;
    width: 50%;
    height: 50%;
    animation: highlight 1s ease-in-out forwards;
  }
  .aboutLogoTitle {
    position: relative;
    width: fit-content;
  }
  .aboutLogoTitle::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    border-left: 7px solid black;
    animation: typewriter 2s ease-in-out forwards;
  }

  
@keyframes typewriter {
  to {
      left: 100%;
      display: none;
  }
}

  
  .highlight-red {
    --_background: rgba(248, 171, 162, 0.842);
    /* background-color: rgb(255, 255, 255); */
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 10px #32323245;
    /* border: 3px dashed #de2028; */
    margin: 0 2px;
    display: inline;
    padding: 0 .5rem;
    width: 50%;
    height: 50%;
    animation: highlight 1s ease-in-out forwards;
  }
  
  .highlight-white {
    --_background: rgba(255, 255, 255, 0.842);
    /* --_border: 2px dashed black; */
    box-shadow: 2px 2px 10px #32323245;
    /* background-color: rgb(255, 255, 255); */
    overflow: hidden;
    position: relative;
    /* border: 3px dashed #de2028; */
    margin: 0 2px;
    display: inline;
    padding: 0 .5rem;
    width: 50%;
    height: 50%;
    animation: highlight 1s ease-in-out forwards;
  }
  
  
  @keyframes highlight {
    to {
      border: var(--_border);
      color: black;
      background-color: var(--_background)
    }
  }

  @media screen and (max-width: 1024px) {
    .aboutLogoTitle {
      font-size: 1.5rem;
    }
    .aboutLogoTextContainer {
      width: 65%;
      max-width: none;
    }
  }

  @media screen and (max-width: 768px) {
    .significanceContainer  {
      flex-direction: column;
      width: 80%;
    }
    .aboutLogoTitle {
      font-size: 1.5rem;
      margin: auto;
      text-align: center;
    }
    .aboutLogoTextContainer {
      width: 100%;
      text-align: justify;
      gap: 1rem
    }
    .aboutLogoContainer {
      width: fit-content;
    }
  }
  @media screen and (max-width: 525px) {
    .aboutLogoTitle {
      font-size: 2.5rem !important; 
    }
    .value-card > p {
      font-size: .8rem;
    }
  }
  @media screen and (max-width: 375px) {
    .aboutLogoTitle {
      font-size: 2rem !important; 
    }
    .aboutLogoTextContainer p {
      font-size: .7rem;
    }
  }
  
  
  /* Apply animation to the ::before pseudo-element */